/* ==========================================================================
Styles for Search Input component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/helper/function",
  "../../../assets/styles/helper/mixin",
  "../../../assets/styles/project/init/variables";

// Start styles Search Input component

.a-search-input {
    display: flex;
    flex-wrap: nowrap;

    input {
        font-size: 12px;
        width: 200px;
    }
}